# Rust
**/target/
**/*.rs.bk

# Kotlin / Gradle
**/.gradle/
**/.kotlin/
**/build/
META-INF/
org.eclipse*
.classpath
src/bindings-jvm/tests/kotlin/generated/
src/bindings-jvm/generated/**/*
!src/bindings-jvm/generated/*.jar

# Node / WASM
**/node_modules/
**/package-lock.json
!src/bindings-wasm/package-lock.json

# Output (regenerable)
**/output/**
src/data-source/upstream/
src/data-source/generated/patched_schemas/
src/**/reports/
**/cdk.out/
*.pyc
**/coverage/**

# IDE
**/*.iml
**/.idea/
**/.vscode
pyproject.toml

# OS
.DS_Store

# Others
**/tmp/
**/docs/
